* {
    background-color: rgb(243, 243, 243);
    padding: 0px;
    margin: 0px;
}


.name {
    font-family: 'Cutive', serif;
    font-size: 60px;
}

.profile_img {
    margin: 60px 40px 40px 40px;
    height: 220px;
    width: 220px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}


.icons {
    padding: 0px 20px 30px 20px;
    color: rgb(0, 161, 108);
}

h1 {
    font-family: 'Roboto Slab', serif;
}